
.custom-input{
    // font-weight: 300;
}
ion-item {
    --background: #f1f3ef;
    border-radius: 10px;
    margin-bottom: 16px;
}
  .horizontal-line {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .line {
    flex: 1;
    border-bottom: 4px solid #D66F8E; /* Estilo de la línea */
  }
  
  .line-text {
    padding: 0 10px; /* Espaciado alrededor del texto */
    letter-spacing: 2px;
    font-size: 18px;
  }
  
.auth-form{
      // width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Alkatra';

}
  ion-content{
    --background: #F1C5D0;
  }