<ion-content >
  <div class="nombre-animado">
  
    <div class="splash-img">
      <img src="../../assets/img/nombre_logo.png" alt="nombre">
    </div>
  </div>
    <div class="splash-animado">
    
      <div class="splash-img logo">
        <img src="../../assets/img/logo.png" alt="icono">
      </div>
    </div>
    <div class="curso-animado">
    
      <div class="splash-img">
        <img src="../../assets/img/curso_logo.png" alt="curso">
      </div>
    </div>
</ion-content>
